@tailwind components;
@tailwind utilities;

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #fd6b00;
  }
  body.weed {
    height:100vh;
    background-image: url("/weed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #78a94ee8;
  }
  body.garden {
    height:100vh;
    background-image: url("/maceta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contains;
    background-color: #b5e245d6;
  }
  body.gaymer {
    height:100vh;
    background-image: url("/gaymer.png");
    background-repeat: no-repeat;
    background-position: 60% 70%;
    background-size: contains;
  }
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #fd6b00;
  }